*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --mainbackground: hsl(233, 47%, 7%);
    --cardbackground: hsl(244, 38%, 16%);
    --ccent: hsl(277, 64%, 61%);
    --mainheadingstats: hsl(0, 0%, 100%);
    --mainparagraph: hsla(0, 0%, 100%, 0.75);
    --statheadings: hsla(0, 0%, 100%, 0.6);
}
main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:var(--mainbackground);
}
main .container{
    margin: 5% 5% 5%;
    position: absolute;
    background-color: var(--cardbackground);
    width: 90%;
    height: 72%;
    display: flex;
    flex-direction: row;
}
h1{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--mainheadingstats);
    font-weight: 700;
    font-size: 30px;
    height: calc(100% / 3);
}
main .leftcont{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    align-items: center;
    gap: 20px;
    padding: 2% 0 0 0;
}
#title{
    font-size: 40px;
}
span{
    color: var(--ccent);
}
p{
    height: calc(100% / 3);
    width: 80%;
    font-family:'Lexend Deca' , sans-serif;
    color: var(--mainparagraph);
    font-weight: 100;
    font-size: 15px;
}
main .rightcont{
    width: 50%;
    position: relative;
    background-color: var(--ccent);
    opacity: 4;
    z-index: 10;
}
main img{
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#fristcard{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: calc(100% / 3);
}
@media(max-width:950px){
    main .container{
        width: 90%;
        height: 95%;
        flex-direction: column;
    }
    main .container .rightcont{
        width: 100%;
        height: 25%;
        position: absolute;
        top: 0;
    }
    main .container .leftcont{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        height: 70%;
        bottom: 0;
        gap: 35px;
    }
    #title{
        font-size: 25px;
    }
    p{
        font-size: 12px;
        width: 90%;
    }
    #fristcard{
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 50%;
    }
    .card{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}